<a href="https://colab.research.google.com/github/Abhiie/ML_Lab/blob/main/Lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

# import the data required
data = pd.read_csv("/content/drive/MyDrive/Dataset3/Dataset3.csv")
print(data.head())

  Outlook Temp Wind  Humidity  Class
0       R    H    F         1      0
1       R    H    T         2      0
2       O    H    F         1      1
3       R    M    F         1      1
4       S    C    F         1      1

In [ ]:
one_hot_encoded_data = pd.get_dummies(data, columns = ['Outlook', 'Temp','Wind','Humidity','Class'])
print(one_hot_encoded_data)

    Outlook_O  Outlook_R  Outlook_S  ...  Humidity_2  Class_0  Class_1
0           0          1          0  ...           0        1        0
1           0          1          0  ...           1        1        0
2           1          0          0  ...           0        0        1
3           0          1          0  ...           0        0        1
4           0          0          1  ...           0        0        1
5           1          0          0  ...           0        1        0
6           1          0          0  ...           0        0        1
7           0          1          0  ...           0        1        0
8           1          0          0  ...           0        0        1
9           0          0          1  ...           1        0        1
10          0          1          0  ...           1        1        0
11          1          0          0  ...           0        0        1
12          1          0          0  ...           0        0        1
13          0          0          1  ...           0        1        0

[14 rows x 13 columns]

In [ ]:
from sklearn.model_selection import train_test_split

data_train, data_test= train_test_split(one_hot_encoded_data, test_size=0.25, random_state=107)
data_train.head()

    Outlook_O  Outlook_R  Outlook_S  ...  Humidity_2  Class_0  Class_1
5           1          0          0  ...           0        1        0
10          0          1          0  ...           1        1        0
13          0          0          1  ...           0        1        0
8           1          0          0  ...           0        0        1
11          1          0          0  ...           0        0        1

[5 rows x 13 columns]

Q1:

In [ ]:
from sklearn import preprocessing
from sklearn.naive_bayes import GaussianNB, MultinomialNB
model=MultinomialNB()
model.fit(data_train.iloc[: , :-2],data_train["Class_1"])
data_train.iloc[: , :-2]

    Outlook_O  Outlook_R  Outlook_S  ...  Humidity_0  Humidity_1  Humidity_2
5           1          0          0  ...           1           0           0
10          0          1          0  ...           0           0           1
13          0          0          1  ...           0           1           0
8           1          0          0  ...           1           0           0
11          1          0          0  ...           1           0           0
12          1          0          0  ...           0           1           0
2           1          0          0  ...           0           1           0
6           1          0          0  ...           0           1           0
9           0          0          1  ...           0           0           1
0           0          1          0  ...           0           1           0

[10 rows x 11 columns]

In [ ]:
import numpy as np 
import pandas as pd


# Step 2: Load Data
        
datasets = pd.read_csv('/content/drive/MyDrive/Dataset3/Dataset3.csv') 
Humidity=datasets['Humidity']
Outlook=datasets['Outlook']
class1=datasets['Class']
Temp=datasets['Temp']
Wind=datasets['Wind']

le = preprocessing.LabelEncoder()
Humidity_encoded=le.fit_transform(Humidity)
print("Humidity:" ,Humidity_encoded)

Outlook_encoded=le.fit_transform(Outlook)
print("Outlook:" ,Outlook_encoded)

class1_encoded=le.fit_transform(class1)
print("class:" ,class1_encoded)

Temp_encoded=le.fit_transform(Temp)
print("Temp:" ,Temp_encoded)

Wind_encoded=le.fit_transform(Wind)
print("Wind:" ,Wind_encoded)

Humidity: [1 2 1 1 1 0 1 1 0 2 2 0 1 1]
Outlook: [1 1 0 1 2 0 0 1 0 2 1 0 0 2]
class: [0 0 1 1 1 0 1 0 1 1 0 1 1 0]
Temp: [1 1 1 2 0 0 0 2 0 2 0 2 1 2]
Wind: [0 1 0 0 0 1 1 0 0 0 1 1 0 1]

Task 2:Apply algorithm on wine dataset - LabelEncoding

of features: and Train test Division 66%-34%

In [5]:
from sklearn.datasets import load_wine

import numpy as np
import pandas as pd
p = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv',sep=';')
p

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[1599 rows x 12 columns]

In [6]:
from sklearn import preprocessing 
le = preprocessing.LabelEncoder()
p["quality"] = le.fit_transform(p["quality"])
p

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        2
1               7.8             0.880         0.00  ...       0.68      9.8        2
2               7.8             0.760         0.04  ...       0.65      9.8        2
3              11.2             0.280         0.56  ...       0.58      9.8        3
4               7.4             0.700         0.00  ...       0.56      9.4        2
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        2
1595            5.9             0.550         0.10  ...       0.76     11.2        3
1596            6.3             0.510         0.13  ...       0.75     11.0        3
1597            5.9             0.645         0.12  ...       0.71     10.2        2
1598            6.0             0.310         0.47  ...       0.66     11.0        3

[1599 rows x 12 columns]

In [10]:
from sklearn.model_selection import train_test_split
X_data_train, X_data_test= train_test_split(p, test_size=0.34, random_state=107)
X_data_train

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
705             8.4             1.035         0.15  ...       0.49      9.9        2
1588            7.2             0.660         0.33  ...       0.78     12.8        3
748             7.2             0.500         0.18  ...       0.72      9.6        3
480            10.6             0.280         0.39  ...       0.66      9.2        2
947             8.3             0.280         0.48  ...       0.62     12.4        4
...             ...               ...          ...  ...        ...      ...      ...
654             8.6             0.470         0.47  ...       0.46      9.5        2
454             7.0             0.230         0.40  ...       0.63     11.1        2
473             9.9             0.350         0.55  ...       0.79     10.6        2
1200            7.7             0.570         0.21  ...       0.54      9.8        3
62              7.5             0.520         0.16  ...       0.62      9.5        4

[1055 rows x 12 columns]